
*.xml
*.CopyComplete
RevitDataValidator/obj
.vs/
RevitDataValidator-cache/
ProjectRules - Copy.md
RevitDataValidator.back(19.1).aip
RevitDataValidator/bin/2023/AddInManager.dll
RevitDataValidator/bin/2023/AdpSDKCSharpWrapper.dll
RevitDataValidator/bin/2023/AdskRcManaged.dll
RevitDataValidator/bin/2023/AdWindows.dll
RevitDataValidator/bin/2023/AnalysisAppsDBAPI.dll
RevitDataValidator/bin/2023/APIDBAPI.dll
RevitDataValidator/bin/2023/APIInterop.dll
RevitDataValidator/bin/2023/APIUIAPI.dll
RevitDataValidator/bin/2023/ArrayElemsDBAPI.dll
RevitDataValidator/bin/2023/AssemblyDBAPI.dll
RevitDataValidator/bin/2023/ATFRevitCoreAPI.dll
RevitDataValidator/bin/2023/Autodesk.UI.Themes.dll
RevitDataValidator/bin/2023/Autodesk.UI.Windows.dll
RevitDataValidator/bin/2023/BuildingSystemsDBAPI.dll
RevitDataValidator/bin/2023/BuildingSystemsUIAPI.dll
RevitDataValidator/bin/2023/CompositionServices.dll
RevitDataValidator/bin/2023/cs-CZ/AdWindows.resources.dll
RevitDataValidator/bin/2023/CurtainGridFamilyDBAPI.dll
RevitDataValidator/bin/2023/DBManagedServices.dll
RevitDataValidator/bin/2023/de-DE/AdWindows.resources.dll
RevitDataValidator/bin/2023/DesktopMFCAPI.dll
RevitDataValidator/bin/2023/DetailDBAPI.dll
RevitDataValidator/bin/2023/DetailUIAPI.dll
RevitDataValidator/bin/2023/DPartDBAPI.dll
RevitDataValidator/bin/2023/ElementGroupDBAPI.dll
RevitDataValidator/bin/2023/en-GB/AdWindows.resources.dll
RevitDataValidator/bin/2023/en-US/AdWindows.resources.dll
RevitDataValidator/bin/2023/EnergyAnalysisDBAPI.dll
RevitDataValidator/bin/2023/es-ES/AdWindows.resources.dll
RevitDataValidator/bin/2023/EssentialsDBAPI.dll
RevitDataValidator/bin/2023/EssentialsUIAPI.dll
RevitDataValidator/bin/2023/FamilyDBAPI.dll
RevitDataValidator/bin/2023/fr-FR/AdWindows.resources.dll
RevitDataValidator/bin/2023/GeomUtilAPI.dll
RevitDataValidator/bin/2023/GraphicsAPI.dll
RevitDataValidator/bin/2023/HostObjDBAPI.dll
RevitDataValidator/bin/2023/InfrastructureDBAPI.dll
RevitDataValidator/bin/2023/InterfaceAPI.dll
RevitDataValidator/bin/2023/InterfaceUtilAPI.dll
RevitDataValidator/bin/2023/IntfATFAPI.dll
RevitDataValidator/bin/2023/it-IT/AdWindows.resources.dll
RevitDataValidator/bin/2023/ja-JP/AdWindows.resources.dll
RevitDataValidator/bin/2023/ko-KR/AdWindows.resources.dll
RevitDataValidator/bin/2023/MassingDBAPI.dll
RevitDataValidator/bin/2023/MaterialDBAPI.dll
RevitDataValidator/bin/2023/Newtonsoft.Json.dll
RevitDataValidator/bin/2023/NumberingDBAPI.dll
RevitDataValidator/bin/2023/PersistenceDBAPI.dll
RevitDataValidator/bin/2023/pl-PL/AdWindows.resources.dll
RevitDataValidator/bin/2023/PointCloudAccessAPI.dll
RevitDataValidator/bin/2023/pt-BR/AdWindows.resources.dll
RevitDataValidator/bin/2023/RebarDBAPI.dll
RevitDataValidator/bin/2023/RevitAddInUtility.dll
RevitDataValidator/bin/2023/RevitAPI.dll
RevitDataValidator/bin/2023/RevitAPIFoundation.dll
RevitDataValidator/bin/2023/RevitAPIUI.dll
RevitDataValidator/bin/2023/RevitDBAPI.dll
RevitDataValidator/bin/2023/RevitDBCoreAPI.dll
RevitDataValidator/bin/2023/RevitMFCAPI.dll
RevitDataValidator/bin/2023/RevitUIAPI.dll
RevitDataValidator/bin/2023/RoomAreaPlanDBAPI.dll
RevitDataValidator/bin/2023/ru-RU/AdWindows.resources.dll
RevitDataValidator/bin/2023/SculptingDBAPI.dll
RevitDataValidator/bin/2023/SiteDBAPI.dll
RevitDataValidator/bin/2023/StairRampDBAPI.dll
RevitDataValidator/bin/2023/StructuralAnalysisDBAPI.dll
RevitDataValidator/bin/2023/StructuralDBAPI.dll
RevitDataValidator/bin/2023/System.Buffers.dll
RevitDataValidator/bin/2023/System.Memory.dll
RevitDataValidator/bin/2023/System.Numerics.Vectors.dll
RevitDataValidator/bin/2023/System.Runtime.CompilerServices.Unsafe.dll
RevitDataValidator/bin/2023/TextEngineAPI.dll
RevitDataValidator/bin/2023/UIFramework.dll
RevitDataValidator/bin/2023/UIFrameworkServices.dll
RevitDataValidator/bin/2023/UtilityAPI.dll
RevitDataValidator/bin/2023/Xceed.Wpf.AvalonDock.dll
RevitDataValidator/bin/2023/zh-CN/AdWindows.resources.dll
RevitDataValidator/bin/2023/zh-TW/AdWindows.resources.dll
RevitDataValidator/bin/2024/AdWindows.dll
RevitDataValidator/bin/2024/Newtonsoft.Json.dll
RevitDataValidator/bin/2024/RevitAPI.dll
RevitDataValidator/bin/2024/RevitAPIUI.dll
RevitDataValidator/bin/2024/System.Buffers.dll
RevitDataValidator/bin/2024/System.Memory.dll
RevitDataValidator/bin/2024/System.Numerics.Vectors.dll
RevitDataValidator/bin/2024/System.Runtime.CompilerServices.Unsafe.dll
/RevitDataValidator/bin/2023/pl
/RevitDataValidator/bin/2023/pt-BR
/RevitDataValidator/bin/2023/ru
/RevitDataValidator/bin/2023/tr
/RevitDataValidator/bin/2023/zh-Hans
/RevitDataValidator/bin/2023/zh-Hant
/RevitDataValidator/bin/2024/cs
/RevitDataValidator/bin/2024/de
/RevitDataValidator/bin/2024/es
/RevitDataValidator/bin/2024/fr
/RevitDataValidator/bin/2024/it
/RevitDataValidator/bin/2024/ja
/RevitDataValidator/bin/2024/ko
/RevitDataValidator/bin/2024/ru
RevitDataValidator/bin/2024/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/RevitDataValidator/bin/2024/tr
/RevitDataValidator/bin/2024/zh-Hans
/RevitDataValidator/bin/2024/zh-Hant
/RevitDataValidator/bin/2024/pl
/RevitDataValidator/bin/2024/pt-BR
/RevitDataValidator/bin/2023/ko
/RevitDataValidator/bin/2023/es
/RevitDataValidator/bin/2023/fr
/RevitDataValidator/bin/2023/it
/RevitDataValidator/bin/2023/de
/RevitDataValidator/bin/2023/ja
/RevitDataValidator/bin/2023/cs
